# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\bechale\PycharmProjects\22-Mindstorm Raspberry\2020-CCH-JeuDeChar-JohanAlexis-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
